{% extends "main.html" %} 
{% block content %}
{% include "header.html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul class="messages">
{% for message in messages %}
<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="row" id="main">
	<div class="col-xs-4 category-list">
  		<h3>Categories</h3>
  		{% for n in nav %}
  			<a href="/catalog/{{ n['id'] }}"><h4>{{ n['name'] }}</h4></a>
  		{% endfor %}
    </div>   
                
    <div class="col-xs-8 page-content">

		{% for c in category %}
			<h3>{{c['name']}}</h3>
	

		{% for i in item %}
			<a href="/catalog/{{c['id']}}/{{i.id}}/"><h4>{{ i.name }}</h4></a>
		{% endfor %}
		{% endfor %}
	</div>
</div>

{% endblock %}