<!-- Displays details about the selected item for logged in users-->

{% extends "main.html" %} 
{% block content %}
{% include "header.html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul class="messages">
{% for message in messages %}
<li><strong>{{message}}</strong></li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="row" id="main">
	<div class="col-xs-4 category-list">
  		<h3>Categories</h3>
  		{% for s in showItNav %}
  			<a href="/catalog/{{ s['id'] }}/"><h4>{{ s['name'] }}</h4></a>
  		{% endfor %}
    </div>   
                
    <div class="col-xs-8 page-content">
    	<div class="container">

   		
    			<h3>{{ item.name }}</h3>
    			<p>{{ item.description }}
    				<br>Author: {{ author.name }}</p>



    	</div>
    </div>
</div>

{% endblock %}